<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    Simple AirBnB
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>

          <%= form_with url: "/search", method: :get do |form| %>
            <%= form.text_field :query, placeholder: "Search" %>
            <%= form.submit "Search", class: "btn btn-outline-success" %>
          <% end %>

          <%= link_to "Add Flat", new_flat_path, class: "btn btn-outline-primary" %>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>

    </div>
  </div>
</div>

<div class="container">
<div class="cards">
  <h1>All our Flats</h1>
  <br>
  <ul class="cards">
    <% @flats.each do |flat| %>
    <li><div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= flat.name %></h2>
              <p><%= flat.description %></p>
              <p><i class="fa-solid fa-people-roof"></i><%= flat.number_of_guests%></p>
          </div>
            <h2 class="card-trip-pricing"><%= flat.price_per_night%>€</h2>
          </div>
          <div>
            <%= link_to "More info",flat_path(flat), class:"btn btn-link text-primary"%>
            <%= link_to "Remove",flat_path(flat), class:"btn btn-link text-danger",
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            <%= link_to "Edit", edit_flat_path(flat), class:"btn btn-link text-warning",data: {turbo_method: :get} %>
          </div>
        </div>
    </li>
    <% end %>
  </ul>
</div>
</div>
